# C++ build artifacts
model.exe
model

# Simulation generated test vectors
input_vectors.txt
expected_output.txt
actual_output.txt

# GTKWave / Verilog dumps
dump.vcd
*.vvp

# ModelSim / QuestaSim
work/
transcript
*.wlf
modelsim.ini

# Vivado / xsim
xsim.dir/
*.log
*.pb
*.jou
*.wdb
*.str
.Xil/

# Python caches
__pycache__/
*.pyc
